.wd-course-navigation {
  border-radius: 0px;
}
.wd-course-navigation a {
  background: white;
  color: #b52828;
  border-radius: 0px;
  border: none;
  margin-left: 95px;
  border-radius: 0px;
  padding: 8px 0px 8px 4px;
}
.wd-course-navigation a.list-group-item.active {
  border-left: 2px solid black !important;
  background-color: white;
  color: black !important;
}